{% extends "sqladmin/base.html" %}
{% from 'sqladmin/_macros.html' import display_menu %}
{% block head %}
<link rel="stylesheet" href="/static/admin-brand.css">
{% endblock %}
{% block body %}
<div class="wrapper">
  <aside class="navbar navbar-expand-lg navbar-vertical navbar-expand-md navbar-dark">
    <div class="container-fluid">
      <h1 class="navbar-brand navbar-brand-autodark">
        <a href="{{ url_for('admin:index') }}" class="vise-brand">
          <svg class="vise-heart" viewBox="0 0 32 32" width="30" height="30" aria-hidden="true">
            <defs>
              <linearGradient id="viseHeartFill" x1="0" y1="0" x2="32" y2="0" gradientUnits="userSpaceOnUse">
                <stop offset="50%" stop-color="#21a85a"/>
                <stop offset="50%" stop-color="#1e74c7"/>
              </linearGradient>
            </defs>
            <path fill="url(#viseHeartFill)" d="M16 27.35c-.4 0-.78-.12-1.1-.36C9.7 23.2 5.2 19.4 3.85 16.05 2.7 13.2 3.15 9.7 5.7 8.05c1.55-1 3.55-1.05 5.2-.15 1.1.6 2 1.55 2.55 2.65.55-1.1 1.45-2.05 2.55-2.65 1.65-.9 3.65-.85 5.2.15 2.55 1.65 3 5.15 1.85 8-1.35 3.35-5.85 7.15-11.05 10.94-.32.24-.7.36-1.1.36z"/>
          </svg>
          <span class="vise-brand-title">VISE-MT</span>
        </a>
      </h1>
      {% if request.session.get("admin_user_name") or request.session.get("admin_user_email") %}
      <div class="vise-user">
        <div class="vise-user-name">{{ request.session.get("admin_user_name") }}</div>
        <div class="vise-user-email">{{ request.session.get("admin_user_email") }}</div>
      </div>
      {% endif %}
      <nav class="navbar navbar-expand-sm" id="navbar-menu">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          {{ display_menu(admin._menu, request) }}
        </div>
      </nav>
      {% if admin.authentication_backend %}
      <a href="{{ request.url_for('admin:logout') }}" class="btn btn-secondary btn-icon">
        <i class="fa fa-sign-out"></i>
        <span>Sair</span>
      </a>
      {% endif %}
    </div>
  </aside>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="page-header d-print-none">
        {% block content_header %}
        <div class="row align-items-center">
          <div class="col">
            <h2 class="page-title">{{ title }}</h2>
            <div class="page-pretitle">{{ subtitle }}</div>
          </div>
        </div>
        {% endblock %}
      </div>
    </div>
    <div class="page-body flex-grow-1">
      <div class="container-fluid">
        <div class="row row-deck row-cards">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
